*
{
    font-family: Calibri, sans-serif;
}

body
{
    background-color: azure;
}

.block.intro
{
    background-color: cadetblue;
}

h.block.intro
{
    font-weight: 200;
    font-size: 64px;
    color: darkslategray;
}

p.block.intro
{
    font-size: 16px;
    color: darkslategray;
}

