body
{
    background-color: azure;
    font-family: calibri, sans-serif;
}

.block.intro
{
    color: cadetblue;
}

.block.intro > h1
{
    font-weight: 200;
    font-size: 64px;
    color: darkslategray;
}

.block.intro > p
{
    font-size: 16px;
    color: darkslategray;
}

