*
{
    font-family: Calibri, sans-serif;
}

body
{
    background-color : azure;
}

.block  /*For all elements of the block class*/
{
    h1, h2, h3, h4
    {
        font-weight: 200;
        font-size: 64px
        color: darkslategray;
    }

    p
    {
        font-size: 16px
        color: darkslategray;
    }
    
    .intro
    {
        background-color : cadetblue;
        h1
        {
            color: darkslategray;
        }

        p
        {
            color: darkslategray;
        }
    }
}
